In [2]:
# Add Matplotlib inline magic command
%matplotlib inline

# Dependencies
import matplotlib.pyplot as plt 
import pandas as pd

In [3]:
# Files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [4]:
# Read city file and store in pandas DataFrame
cityDataDF = pd.read_csv(city_data_to_load)
cityDataDF.head(10)

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

In [5]:
# Read ride file and store in pandas DataFrame
rideDataDF = pd.read_csv(ride_data_to_load)
rideDataDF.head(10)

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344
5        South Latoya  2019-03-11 12:26:48   9.52  1994999424437
6       New Paulville  2019-02-27 11:17:56  43.25   793208410091
7        Simpsonburgh  2019-04-26 00:43:24  35.98   111953927754
8     South Karenland  2019-01-08 03:28:48  35.09  7995623208694
9       North Jasmine  2019-03-09 06:26:29  42.81  5327642267789

In [6]:
# Get columns and rows that are not null
cityDataDF.count()

city            120
driver_count    120
type            120
dtype: int64

In [7]:
# Double check columns and rows for null
cityDataDF.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [8]:
# Get data types of each column
cityDataDF.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [9]:
# Get unique values of type of city
cityDataDF["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [14]:
# Get number of data points for Urban, Suburban, Rural cities
sum(cityDataDF["type"]=="Urban")

66

In [12]:
sum(cityDataDF["type"]=="Suburban")

36

In [13]:
sum(cityDataDF["type"]=="Rural")

18

In [15]:
# Get columns and rows not null in ride data
rideDataDF.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [16]:
# Double check for null values
rideDataDF.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [17]:
# Check the types of data in ride data
rideDataDF.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [19]:
# Merge data into single dataset
pyberDataDF = pd.merge(rideDataDF, cityDataDF, how="left", on=['city', 'city'])
# Display merged dataframe
pyberDataDF.head(10)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
5,South Latoya,2019-03-11 12:26:48,9.52,1994999424437,10,Urban
6,New Paulville,2019-02-27 11:17:56,43.25,793208410091,44,Urban
7,Simpsonburgh,2019-04-26 00:43:24,35.98,111953927754,21,Urban
8,South Karenland,2019-01-08 03:28:48,35.09,7995623208694,4,Urban
9,North Jasmine,2019-03-09 06:26:29,42.81,5327642267789,33,Urban